.navbar-brand[b-75pcwf8bi8] {
    font-size: 24px;
    font-weight: 600;
}

.navbar-nav .nav-link[b-75pcwf8bi8] {
    font-size: 16px;
    margin-left: 10px;
}

main[b-75pcwf8bi8] {
    min-height: 70vh;
}